.dropdownWithLabel {
    padding: 12px 16px;
    min-width: 373px;
    width: 373px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #D8E0E8;
    border-radius: 8px;
}
.labelStyleDropdown {
    margin-bottom: 8px;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    color: #192126;
}
@media (max-width: 1330px) { 
    .dropdownWithLabel {
        min-width: 0;
        width: 100%;
        max-width: 100%;
    }
}