html {
    overflow-x: hidden !important;
    height: 100%;
    background-color: #FFFFFF;
}
body {
    overflow-x: hidden;
}
.mainHeadingGap {
    display: grid;
    column-gap: 7px;
}
h1 {
    margin-bottom: 0;
}
p {
    margin-bottom: 0;
}
.mainDiv {
    padding-top: 46px;
}
.bg {
    background-image: linear-gradient(180deg, #ECF0F4 20.5%, #FFFFFF 20.5%);
}
.formTopMargin {
    margin-top: 44px;
}
@media (max-width: 870px) { 
    .formTopMargin {
        flex-direction: column;
    }
    .verifyGroupTabSize {
        width: 100%;
    }
}
